/* =========================================
   Lab 2 - Personal Portfolio Website (CSS Core)
   Name: Khushi Saini
=========================================== */



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6c0340;
    color: #ea8fc5;
}

/* Header */
header {
    background-color: #430622;
    color: rgb(203, 80, 154);
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: rgb(203, 135, 175);
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section layout */
.section {
    background-color: #7a0e4d;
    margin: 30px auto;
    padding: 30px;
    width: 85%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(208, 137, 180, 0.1);
}

h2 {
    color: #820a58;
    border-bottom: 2px solid #c0048e;
    padding-bottom: 8px;
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #7c0342;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
}

.about-text h3 {
    margin-top: 0;
    color: #f588d1;
    font-size: 24px;
}


/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    background-color: #3e78b1;
    border: 1px solid #65d8ff;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
}

.card:hover {
    background-color: #c1eafc;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #eab4f0;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3a0444;
    color: white;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #e8acf6;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}

/* Footer */
#top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #132c4469;
  color: #62a6e3;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

#top:hover {
  background-color: #9ec1e4;
  color: white;
}
footer {
    text-align: center;
    background-color: #a3d4ff;
    color: white;
    padding: 15px 0;
    margin-top: 30px;
}